.landing-content{
    display: flex;
    align-items: top;
    justify-content: center;
}
.landing-title{
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    padding-top: 14px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 14px;
    margin-left: -19px;
    margin-right: -11px;
    margin-top: -3px;
    border-radius: 8px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-style: solid;
    border-color:  rgb(187, 187, 239);
}
.landing-image{
    width: 300px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 8px;
}
.landing-box{
    align-items: center;
    align-content: center;
    font-size: 16px;
    font-weight: 500;
    padding-left: 16px;
    padding-right: 8px;
    margin-top: 16px;
    padding-bottom: 16px;
    margin-left: 5px;
    border-style: solid;
    border-radius: 8px;
    border-color:  rgb(187, 187, 239);
    background-color: rgb(219, 219, 242);
}
.landing-logo-text-flex{
    display: flex;
    align-items: top;
    justify-content: center;
    flex-direction: row;
}
.landing-description{
    width: 400px;
}
.landing-description-bottom{
    padding-left: 18px;
    padding-right: 18px;
    width: 650px;
}
.landing-description-bottom h1,
.landing-description h1{
    font-size: 24px;
    margin-bottom: 5px;
}
.landing-description-bottom p,
.landing-description p{
    font-size: 18px;
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 5px;
}
.landing-description-bottom hr,
.landing-description hr{
    margin: 0;
    padding: 0;
}

.page-content{
    display: flex;
    align-items: top;
    justify-content: center;
}
.media-description-title{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding-top: 14px;
}

.media-description-stats{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding-top: 0;
    padding-bottom: 7px;
}
.media-description-thumbnail{
    width: 400px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 8px;
}
.media-description{
    font-size: 16px;
    font-weight: 500;
    padding-left: 16px;
    padding-right: 8px;
    margin-top: 16px;
    padding-bottom: 16px;
    margin-left: 5px;
    border-style: solid;
    border-radius: 8px;
    border-color:  rgb(187, 187, 239);
    width: 400px;
    background-color: rgb(219, 219, 242);
}
.media-description-attribution{
    color: rgb(82, 82, 82);
    font-size: 12px;
    margin-top: 8px;
}

.text-content{
    margin-top: 16px;
    border-color: rgb(234, 234, 234);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 11px;
    padding-bottom: 16px;
    margin-left: 16px;
    width: 800px;
    vertical-align: top;
    font-weight: 400;
}
.text-content h1{
    font-size: 30px;
    font-weight: 600;
    margin:0;
    padding:0;
}
.text-content p{
    font-weight: 400;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 4px;
    margin:0;
}
.text-content hr{
    padding: 0;
    margin-top: 2px;
    margin-bottom: 10px;
}
.text-content ul{
    padding-left: 32px;
    margin:0;
}
.text-content-subheading{
    font-weight: 700;
}
.search-page-content{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.search-page-result{
    margin-top: 20px;
    display: flex;
    align-items: top;
    gap: 20px;
    width: 1000px;
    border-style: solid;
    border-color: #ffffff00;
    transition-duration: 0.2s;
    transition-property: all;
    border-width: 1px;
    border-radius: 6px;
}
.search-page-result img{
    display: block;
    width: 300px;
    object-fit:fill;
    border-radius: 6px;
}
.search-page-result p{
    padding-top: 4px;
    width: 650px;
}
.search-page-result br{
    margin-bottom: 10px;
}
.search-page-result:hover{
    border-radius: 6px;
    border-style: solid;
    border-color: #6cbdff;
}
.spoiler{
    color: rgba(0, 0, 0, 0);
    background-color: black;
    transition: all;
    transition-duration: .2s;
}
.spoiler:hover{
    color: rgba(0, 0, 0, 0);
    background-color: rgb(46, 46, 46);
}
.spoiler:active{
    color: black;
    background-color: rgba(255, 255, 255, 0);
}

.egg{
    width:160px;
    border-radius:100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: bisque;
}