body{
    font-family:'Nunito', 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 1000px;
    margin-top: 50px;
}

::selection {
  background: rgb(0, 0, 0);
  color:rgb(217, 255, 0)
}

p{
    margin:0;
    font-weight: 400;
}